
.about-us-title{
    font-size: 20px;
    font-weight: 900;
    color: #322F73;
    margin-bottom: 15px;
    margin-top: 0px;
}

.about-card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    margin-bottom: 25px;
    border: 1px solid #f0f0f0;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
}

.about-text {
    font-size: 15px;
    line-height: 1.5;
    color: #444;
    margin-bottom: 20px;
}


.features-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.feature-icon {
    font-size: 24px;
    background: #f4f6f8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.feature-item span {
    font-size: 12px;
    font-weight: bold;
    color: #322F73;
}
