
.contact-title {
    font-size: 20px;
    font-weight: 900;
    color: #322F73;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 15px ;
}


.contact-buttons-list {
    display: flex;
    flex-direction: column;
    gap: 12px; 
    margin-left: 15px;
    margin-right: 15px;
}


.contact-card {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    
  
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: transform 0.1s, box-shadow 0.1s;
    border: 1px solid #f0f0f0; 
}


.contact-card:active {
    transform: scale(0.98); 
    background-color: #f9f9f9;
}


.icon-box {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    flex-shrink: 0; 
}

.icon-box svg {
    width: 24px;
    height: 24px;
}


.whatsapp-bg {
    background-color: #25D366; 
}
.phone-bg {
    background-color: #322F73;
}
.gis-bg {
    background-color: #FCE626;
}

.gis-bg svg {
    fill: #322F73; 
}


.card-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.label {
    font-size: 12px;
    color: #888;
    margin-bottom: 2px;
}

.value {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.arrow {
    color: #ccc;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}