.catalog-section-title{
    font-size: 20px;
    font-weight: 900;
    color: #322F73;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 15px ;
}

.catalog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

/* Сама карточка */
.catalog-card {
    position: relative; 
    border-radius: 12px; 
    overflow: hidden;   
    aspect-ratio: 1 / 1; 
    background-color: #f0f0f0;
}

.catalog-img{
    position: relative;
    width: 100%;
    height: 100%;
}

.catalog-overlay{
    position: absolute;
    width: 100%;
    color: white;
    font-family: Oswald;
    top:15px;
    left:10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    pointer-events: none; 
}