

.reviews-section-title{
    font-size: 20px;
    font-weight: 900;
    color: #322F73;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 20px ;
}

.reviews-section {
    margin-bottom: 40px;
}


.review-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    max-width: 320px; 
    margin: 0 auto 20px auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: Arial, sans-serif;
}


.review-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.review-logo-box {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-title {
    font-weight: 600;
    font-size: 16px;
    color: #333;
}


.review-rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-number {
    font-size: 32px;
    font-weight: 400;
    color: #333;
    line-height: 1;
}

.stars-row {
    display: flex;
    font-size: 20px; 
    gap: 2px;
}


.review-btn-link {
    display: block;
    text-align: center;
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: opacity 0.2s;
}

.review-btn-link:active {
    opacity: 0.8;
}



.stars-google { color: #fbbc04; }
.btn-google { background-color: #1a73e8; } 

.stars-2gis { color: #B3D236; } 
.btn-2gis { background-color: #B3D236; } 
.logo-2gis {
    background: #B3D236;
    border-radius: 4px;
    color: white;
    font-weight: 900;
    font-size: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars-yandex { color: #ffcc00; } 
.btn-yandex { background-color: #FC3F1D; } 
.logo-yandex {
    background: #FC3F1D;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}